.wrapper {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 500px;
  top: 0;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.42);
  z-index: 999;
}


.buttonDanger {
  margin-top: 10px;
  color: #fff;
  background-color: #d9534f;
  border: none;
  border-radius: 5px;
  width: 100px;
}

.buttonSuccess {
  color: #fff;
  border: none;
  background-color: #8bc34a;
  border-radius: 5px;
  width: 100px;

}

.buttonInbound {
  color: #fff;
  background-color: #bbb810ea;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;

}

button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.034), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
  transition-duration: 0.4s;
}

button:hover {
  opacity: 0.6;
}

.appPayload {
  width: 100%;
  word-break: break-word;
}

h3 {
  font-size: 15px;
  margin-top: 10px;
}
